<div class="col-md-2 col-sm-12 bg-light p-3 sticky-sidebar">
    <h4 style="visibility: hidden;">f</h4>
    <h4 style="visibility: hidden;">f</h4>
  
    <ul class="list-unstyled">
      <li class="mb-2">
        <button 
          class="btn tm-nav-btn w-100 py-2 d-flex align-items-center justify-content-start" 
          [ngClass]="{'active-nav-tab': activeTab === 'allProducts'}"
          (click)="setActiveTab('allProducts')">
          <i class="fa-solid fa-house me-2"></i>
          All Products
        </button>
      </li>
      <li class="mb-2">
        <button 
          class="btn tm-nav-btn w-100 py-2 d-flex align-items-center justify-content-start"
          [ngClass]="{'active-nav-tab': activeTab === 'searchProduct'}"
          (click)="setActiveTab('searchProduct')">
          <i class="fa-solid fa-magnifying-glass me-2"></i>
          Search Product
        </button>
      </li>
      <li class="mb-2">
        <button 
          class="btn tm-nav-btn w-100 py-2 d-flex align-items-center justify-content-start" 
          routerLink="/yourCart"
          [ngClass]="{'active-nav-tab': activeTab === 'yourCart'}"
          (click)="setActiveTab('yourCart')">
          <i class="fa fa-cart-shopping me-2"></i>
          Your Cart
        </button>
      </li>
      <li class="mb-2">
        <button 
          class="btn tm-nav-btn w-100 py-2 d-flex align-items-center justify-content-start"
          [ngClass]="{'active-nav-tab': activeTab === 'logout'}"
          (click)="setActiveTab('logout')">
          <i class="fa-solid fa-power-off me-2"></i>
          Logout
        </button>
      </li>
    </ul>
  </div>