
      <div class="wrapper" *ngIf="isLoginMode">
         <div class="title">
            Login Form
         </div>
         <form action="#" (ngSubmit)="onLogin()" #loginForm="ngForm">
            <div class="field">
               <input type="email"
                id="loginEmail"
                class="form-control"
                [(ngModel)]="loginData.email"
                name="email"
                required>
               <label for="loginEmail">Email Address</label>
            </div>
            <div class="field">
              <input
                type="password"
                id="loginPassword"
                class="form-control"
                [(ngModel)]="loginData.password"
                name="password"
                required
              />
            </div>
            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
               <div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
              Don't have an acoount? <p (click)="onSwitchMode()">Signup now</p>
            </div>
         </form>
      </div>


      <div class="wrapper" *ngIf="!isLoginMode">
        <div class="title">
           Signup Form
        </div>
        <form action="#" (ngSubmit)="onSignup()" >
           <div class="field">
             <input
               type="text"
               id="signupName"
               class="form-control"
               [(ngModel)]="signupData.name"
               name="name"
               required/>
            <label for="signupName">Name</label>
           </div>
           <div class="field">
             <input
               type="email"
               id="signupEmail"
               class="form-control"
               [(ngModel)]="signupData.email"
               name="email"
               required
             />
            <label for="signupEmail">Email</label>
           </div>
           <div class="field">
            <input
              type="password"
              id="signupPassword"
              class="form-control"
              [(ngModel)]="signupData.password"
              name="password"
              required
            />
            <label for="signupPassword">Password</label>
           </div>
           <div class="content">
              <div class="checkbox">
                 <input type="checkbox" id="remember-me">
                 <label for="remember-me">Remember me</label>
              </div>
              <div class="pass-link">
                 <a href="#">Forgot password?</a>
              </div>
           </div>
           <div class="field">
              <input type="submit" value="SignUp">
           </div>
           <div class="signup-link">
            Already have an acoount? <p (click)="onSwitchMode()">Login</p>
           </div>
        </form>
     </div>