<div class="up__errorblock-wrap">
    <div class="container">
        <div class="up__error-block text-center">
            <div class="up__error-img">
                <img src="assets\images\404emoji.jpg" alt="404error" title="404error">
            </div>
            <h2 class="up__error-title">Sorry</h2>
            <p class="up__error-subtitle">Page Not Found</p>
            <div class="up__error-search">
                <input #searchInput type="text" class="up__error-input" name="term" autocomplete="off"
                aria-label="Search" placeholder="Search Products...">
                <button aria-label="Search" class="up__input-searchbtn">
                    <span>
                        <img src=""/>
                    </span>
                </button>
            </div>
            <button routerLink="/products" class="up__error-btn" >
                Go Back to Homepage
            </button>
        </div>
    </div>
</div>
